/* Change the background of the entire visible page */
body {
    background-color: #dcf7ff; /* Very light grey */
}

/* Style for all paragraphs */
p {
    color: rgb(28, 99, 231);
    font-size: 16px;
    font-family: 'ribeye', serif;
}

/* Style for the main heading */
h1 {
    text-align: center; /* Puts the heading in the middle */
    border: 2px rainbow; /* Adds an rainbow border around the heading */
    padding: 10px; /* Adds space inside the border */
